<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://lip-css-gma.glitch.me/lip/lip.css">
    <title>newsDiscussion</title>
    {% block head %}{% endblock %}
</head>
<body class="l-container l-bg-dark">
    <div class="l-spacing-top"></div>
    <br>
     {% block body %}{% endblock %}
    <br>
    <small class="l-color-white">本サービスは Google News RSS を使用しています。</small><br>
    <small class="l-color-white">(c) copyright 2022 gamma</small>
    <br><br>
</body>
</html>