{% extends 'base.html' %}

{% block body %}
<h1 style="letter-spacing:5px;line-height:40px;" class="l-fontWeight-bold">🔖 カードを作成</h1>
<div class="l-spacing-top"></div>
<br>
<hr>
<br>
<form action="/opinion" method="POST">
    <p class="l-fontWeight-medium"><i class="fa fa-calendar-o fa"></i> 投稿日付 (押してください)</p>
    <input class="l-input-blue l-fontWeight-medium" type="date" style="border:1px solid #a9a9a9; width:180px; height:45px;" name="post_date">
    <br>
    <p class="l-fontWeight-medium"><i class="fa fa-user fa"></i> 投稿者名 (ニックネーム)</p>
    <input class="l-input-blue l-fontWeight-medium" placeholder=" 投稿者名を入力してください" style="border:1px solid #a9a9a9; width:350px; height:45px;" name="user">
    <br>
    <p class="l-fontWeight-medium"><i class="fa fa-circle fa"></i> カードのタイトル</p>
    <input class="l-input-blue l-fontWeight-medium" placeholder=" 記事のタイトルを元に考えましょう" style="border:1px solid #a9a9a9; height:45px;" name="title">
    <br>
    <p class="l-fontWeight-medium"><i class="fa fa-circle-o fa"></i> 概要欄</p>
    <textarea style="border:1px solid #a9a9a9;" class="l-textarea-blue l-fontWeight-medium" rows="8" placeholder=" ニュース記事に対する意見・メモを書きましょう" name="opinion"></textarea>
    <br>
    <a href="/opinion"><button type="button" class="l-btn l-color-white l-bg-grey">戻る</button></a>&nbsp;<button type="submit" class="l-btn l-color-white l-bg-green"><i class="fa fa-send fa"></i> カードを投稿</button>
</form>
<br><br>

{% endblock %}
