{% extends 'base.html' %}

{% block body %}
<h1 style="letter-spacing:5px;line-height:40px;" class="l-fontWeight-bold">🔖 カード作成</h1>
<div class="l-spacing-top"></div>
<br>
<hr>
<br>
<form action="/opinion" method="POST">
    <p class="l-fontWeight-medium"><i class="fa fa-calendar-o fa"></i> 投稿日 (押してください)</p>
    <input class="l-input-blue l-fontWeight-medium" type="date" style="border:1px solid #a9a9a9; width:180px; height:45px;" name="post_date">
    <br>
    <p class="l-fontWeight-medium"><i class="fa fa-user fa"></i> ユーザー名 (ニックネーム)</p>
    <input class="l-input-blue l-fontWeight-medium" placeholder=" ユーザー名を決めましょう" style="border:1px solid #a9a9a9; height:45px;" name="user">
    <br>
    <p class="l-fontWeight-medium"><i class="fa fa-circle fa"></i> アイデアタイトル</p>
    <input class="l-input-blue l-fontWeight-medium" placeholder=" 記事のタイトルを元に考えましょう" style="border:1px solid #a9a9a9; height:45px;" name="title">
    <br>
    <p class="l-fontWeight-medium"><i class="fa fa-circle-o fa"></i> カードの概要</p>
    <textarea style="border:1px solid #a9a9a9;" class="l-textarea-blue l-fontWeight-medium" rows="8" placeholder=" 記事に対する意見・メモを書きましょう" name="opinion"></textarea>
    <br>
    <button type="submit" class="l-btn l-btn-max l-color-white l-bg-blue"><b>カードを作成</b></button>
</form>
<br><br>

{% endblock %}
