{% extends 'base.html' %}

{% block body %}
<h1 class="l-fontWeight-bold" style="text-align:center;">detail</h1>
<p class="l-fontWeight-bold" style="text-align:center;"></p>
<p class="l-fontWeight-bold" style="text-align:center;">writer: {{ post.user }}</p>
<div class="l-spacing-top"></div>
<br>
<hr>
<br>

<div style="border:1px solid #a9a9a9;" class="l-card l-bg-white l-color-dark l-border-radius">
    <p>{{ post.post_date.date() }}</p>
    <h4 class="l-hedding2-red"><b>{{ post.title }}</b></h4>
    <hr>
    <p>{{ post.opinion }}</p>
</div><br>
<a href="/opinion"><button type="button" class="l-btn l-color-white l-bg-grey">戻る</button></a><br><br>

{% endblock %}