{% extends 'base.html' %}

{% block body %}
<h1 style="letter-spacing:5px;line-height:40px;" class="l-fontWeight-bold">🔍 見つける</h1>
<div class="l-spacing-top"></div>
<br>
<hr>
{% for item in feed %}
<div style="padding:10px;padding-top:20px;padding-bottom:20px;" class="l-card l-color-dark l-border-radius">
    <h4 style="letter-spacing:2px;line-height:30px;" class="l-fontWeight-bold l-color-dark">{{ item.title }}</h4>
    <small class="l-color-grey"># {{ item.published }}</small>
    <div style="margin-top:20px;"></div>
    <a href="{{ item.links[0].href }}" target="_blank" rel="noopener noreferrer">
        <p class="l-color-grey"><b><i class="fa fa-search"></i>  覗いてみる</b></p>
    </a>
</div>
<hr>
{% endfor %}
{% endblock %}