{% extends 'base.html' %}

{% block body %}
<h1 style="letter-spacing:5px;line-height:40px;" class="l-fontWeight-bold">📚 みんなの投稿</h1>
<div class="l-spacing-top"></div>
<br>
<hr>
{% for post in posts %}

<div style="padding:10px;padding-top:20px;padding-bottom:20px;" class="l-card l-color-dark l-border-radius">
    <p>{{ post.post_date.date() }}</p>
    <h4 style="letter-spacing:2px;line-height:30px;"><b>{{ post.title }}</b></h4>
    <small>by {{ post.user }}</small><br>
    <br>
    <a href="/detail/{{ post.id }}"><button class="l-btn l-color-blue" style="background:none;"><b>カードを見る</b></button></a>&nbsp;<a href="/delete/{{ post.id }}"><button class="l-btn l-color-red" style="background:none;"><b><i class="fa fa-trash-o fa "></i>  削除する</b></button></a>
</div>
<hr>
{% endfor %}
{% endblock %}